html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 text-decoration: none;
 list-style: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display: block;
}
body {
 line-height: 1;
 
}
ol,
ul {
 list-style: none;
}
blockquote,
q {
 quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
 content: "";
 content: none;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.header-nav-menu{
    display: none;
    @media (max-width: 768px){
        display: block;
      } 
}
#burger  {
    padding: 0;
    border:none;
    cursor: pointer;
    margin-right: 40px;
    z-index: 999;
    display: none;
    position: relative;
    @media (max-width: 768px){
       display: block;
     } 
  }

  span.burger-menu  {
    background-color: #000;
    border-radius: 4px;
    width: 30px;
    height: 4px;
    position: relative;
    display: block;
  
  }
  span.burger-menu::before {
    content: "";
    background-color: #000;
    border-radius: 4px;
    width: 30px;
    height: 4px;
    position: absolute;
    display: block;
    top:-10px;
    left:0px;
  }
  span.burger-menu::after {
    content: "";
    background-color: #000;
    border-radius: 4px;
    width: 30px;
    height: 4px;
    position: absolute;
    bottom:-10px;
    right: 0px;
    display: block;
  
  }

*{
    transition: all 0.5s;
    font-family: 'Helvetica', sans-serif;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/Open Sans.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaRegular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.ttf');
    font-style: bold;
}
.text(@fontsize,@fstyle,@align,@textcolor,@font_fam,@fweight,@text_transform){
	font-size: @fontsize;
	font-style: @fstyle;
	text-align: @align;	
	color:@textcolor;
	font-family: @font_fam, sans-serif;
	font-weight: @fweight;
	text-transform:@text_transform;
}

h1{
    .text(28px,normal,left,#000,'HelveticaBold',normal,uppercase); 
}
h2{
   
    .text(24px,normal,center,#000,'HelveticaBold',normal,none);  
}

p{
    .text(14px,normal,left,#9b9b9b,'Helvetica',normal,none); 
    line-height: 1.5;
}
img{
    object-fit: contain;

    vertical-align: middle;
}
#sign_up-input{
    border: solid 1px #c2c2c2;
    padding: 11px 5px 12px 20px;
    resize: none;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    color: #9b9b9b;
    font-family: "OpenSans";
    max-width: 543px;
    line-height: 1.2; 
}
input, textarea{
    border: solid 1px #c2c2c2;
    padding: 11px 5px 12px 17px;
    resize: none;
    cursor: pointer;
    width:calc(100% - 28px);
    font-size: 14px;
    color: #9b9b9b;
    font-family: "OpenSans";
}
textarea{
    height: 104px;
}
.content-button{
    width: 170px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    cursor: pointer;
    .text(14px,normal,center,#000,'OpenSans',normal,none);
}
.wrapper {
    width: 81%;
    margin: 0 auto;
}
.line{
    height: 1px;
    background:  #979797;
    border: none;
    margin-bottom: 25px;
}
.nav-logo{
    width: 82px;
    height: 58px;
    .nav-logo-link{
        .text(24px,normal,center,#000,'HelveticaBold',bold,none); 
    }
}

.message{
    height: 107px;
    width: 351px;	
    border-radius: 10px;
    background-color: #3c3c3c;
    border: solid 1px #a8dba8;
    display: none;
    align-items: center; 
    justify-content: center;  
    position: absolute;
    right: 2%;
    bottom: 40px;
    z-index: 10;
    @media (max-width: 960px){
       bottom: 120px;
       right: 5%;
    }

     @media (max-width: 600px){
        width: 270px;
     }
    .message-text-header, .message-text-info{
        color: #f8f02e;
        text-align: center;
    }
    .message-img{
        width: 20%;
        height: 50%;
        position: relative;
        text-align: left;
        &:after{
            content: '';
            display: block;
            width: 3px;
            height: 83px;
            background: #fdfdfd;
            position: absolute;
            top: -27%;
            right: 15%;
        }
    }
    .message-text{
        width: 66%;
        position: relative;
        .message-text-header{
            margin-bottom: 8px;
        }
       .message-close{         
            width: 33px;
            height: 33px;
            background-color: #3c3c3c;
            border: solid 2px #fdfdfd;
            border-radius: 50%;
            position: absolute;
            top: 20%;
            right: -20%; 
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}