﻿
@import "common_style.less";

body {
    header{
        .header-nav {
            height: 114px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-logo{
                width: 82px;
                height: 58px;
                .nav-logo-link{
                    .text(24px,normal,center,#000,'HelveticaBold',bold,none); 
                }
            }
            .header-nav-list {
                width: 57%;
                display: flex;
                justify-content: space-between;
                @media (max-width: 768px){
                    flex-direction: column;
                    height: 0;
                    opacity: 0;
                    transition: all 0.8s;
                }
                .header-nav-list-item{
                   .header-nav-list-item-link{
                    position: relative;
                    .text(16px,normal,center,#9b9b9b,'Helvetica',normal,none); 
                    &:hover{
                        color: #000;
                        &:before{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 35%;
                            left: -12px;
                            width: 5px;
                            height: 5px;
                            background: #000;
                            border-radius: 50%;
                        }
                    }
                   } 
                }
            }
            .active_burger{
                height: 60vh;
                opacity: 1;
                border-radius: 10px;
                width: 100vw;
                max-width: 1440px;
                background: #eef2f5;
                position: absolute;
                top:0;
                left: 0;
                justify-content: space-around;
                z-index: 998;
                @media (max-width: 480px){
                    align-items: flex-start;
                    padding-left: 40px;
                 } 
            }
        }       
    }
    .banner{
        background:  url(../img/banner-image.jpg) no-repeat center top 100%;
        background-size: cover;
        height: 480px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center; 
        .banner-content{
            width: 48%;
            position: relative;
            z-index: 3;
            @media (max-width: 960px){
                width: 70%;
            } 
            @media (max-width: 480px){
                width: 100%;               
            } 
            .banner-header{
                @media (max-width: 480px){
                    text-align: center;     
                 } 
            }
            .banner-content-text{
                .text(18px,normal,left,#222,'Helvetica',normal,none); 
                line-height: 1.22;
                margin: 26px 0 20px 0;
                width:80%;
                @media (max-width: 480px){
                   text-align: center;  
                   margin: 22px auto 31px auto;         
                } 
            }
            .content-button{
                background-color: rgba(31, 31, 31, 0.3);
                border: solid 2px #ffffff;
                @media (max-width: 480px){
                   margin: 0 auto;
                }
                .header-btn{
                    position: relative;
                    .text(14px,normal,center,#fff,'Helvetica',normal,none);

                }
            }
        }

    }
    .line-img{
        width: 508px;
        margin: 70px auto 50px auto;
        img{
            width: 100%;
        }
        @media (max-width: 768px){
            width: 400px;
        }
        @media (max-width: 480px){
            width: 300px;
        }
    }
    .about{
        margin: 15px auto 46px auto;
        display: flex;
        justify-content: space-between;
        @media (max-width: 960px){
            flex-direction: column;
        } 
        img{
            width: 100%;
        }
        .news{
            width: 65%;
            @media (max-width: 960px){
                width: 100%;
                order: 2;
                margin-top: 30px;
            } 
            .news-header{
                text-align: left;
                margin-bottom: 47px;
            }
            .news-list{
                height: 390px;
                display: flex;
                flex-direction: column;
                justify-content: space-between; 
                @media (max-width: 600px){
                    height: auto;
                 } 
              .news-list-item{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  @media (max-width: 600px){
                    margin-bottom: 30px;
                 } 
                    .news-list-img{
                        width: 22%;
                        img{
                            width: 100%;
                            max-width: 109px;

                        }

                    }
                 .news-list-text{
                     width: 76%;
                 }
              }
            }
        }
        .trending{           
            width: 370px; 
            position: relative;
            top: -12px;
            height: 309px;
            @media (max-width: 960px){
               margin: 0 auto;
            } 
            @media (max-width: 480px){
                width: 259px;
                height: auto;
             } 
            .trending-content{
                position: absolute;
                top: 45px;
                @media (max-width: 480px){
                    top: 20px;
                 } 
                .trending-header{
                    margin-bottom: 15px;
                    @media (max-width: 480px){
                        margin-bottom: 5px;
                        font-size: 18px;
                     } 
                }
                .trending-text{
                    text-align: center;
                    width: 38%;
                    margin: 0 auto;
                    @media (max-width: 480px){
                        width: 45%;
                        font-size: 12px;
                     } 
                }
            }
        }
    }
    .info{
        border: solid 1px #979797;
        margin: 66px auto 50px auto;
        .info-img{
            width: auto;
            position: relative;
            top: -16px;
        }
        .info-text{
            color: #000000;
            text-align: center;
            width: 52%;
            margin: 0 auto 36px auto;
            @media (max-width: 480px){
                width: 70%;
             } 
        }
    }
    .best_sellers{
        img{
            @media (max-width: 1200px){
                 height: 100%;
            }
            @media (max-width: 960px){
                height: auto;
            }
        }
        .best_sellers-list{
            margin: 26px auto 70px auto;
            display: flex;
            flex-wrap: wrap;

            .best_sellers-item-1{
                width: 42%;
                max-width: 470px;
                background-color: #d8d8d8;
            }
            .best_sellers-item-2{
                width: 33%;
                max-width: 400px;
                .best_sellers-item-2-1{
                    background-color: #8ed5e0;
                    height: 50%;
                }
                .best_sellers-item-2-2{
                    display: flex;
                    height: 50%;
                    .best_sellers-item-content{
                        width: 50%;
                        background-color: #f9f4e2;
                        &:last-child{
                            background-color: #fdeaf0; 
                        }
                    }
                }
            }
            .best_sellers-item-3{
                width: 25%;
                max-width: 300px;
                .best_sellers-item-content{
                    height: 50%;
                    background-color: #e9d0d0;
                    &:last-child{
                        background-color: #fbf8f1;
                    }
                }
            }
            @media (max-width:960px){
                flex-direction: column;
               align-items: center;
               .best_sellers-item-1, .best_sellers-item-2, .best_sellers-item-3{
                   max-width: 570px;
                   height: 470px;
                   width: 100%;
               }
            }
            @media (max-width:480px){
               .best_sellers-item-1{
                    height: 400px;
               }
            }
        }
    }
    .contact{
        .contact-header{
            margin-bottom: 30px;
            margin-left: 18%;
            @media (max-width: 600px){
                margin-left: 0;
            }
        }
        .contact-content{
            display: flex;
            @media (max-width: 600px){
                flex-direction: column;
               align-items: center;
            }
            .contact-content-map{
                width: 35%;
                position: relative;         
                .contact-content-map-info{
                    .contact-content-text-list{
                        width: 155px;
                        height: 190px;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding-left: 14px;
                        position: absolute;
                        top: 15px;
                        left: 23%;
                        @media (max-width: 960px){
                            left: 10%;
                        }
                        @media (max-width: 600px){
                           position: static;
                           margin: 0 auto;
                           padding-left: 0;
                        }  
                        .contact-content-text-list-item{
                            margin-bottom: 11px;
                            .contact-content-text-list-header{
                                .text(14px,normal,left,#000,'HelveticaBold',normal,none); 
                                margin-bottom: 6px;
                            }
                            .contact-content-text-list-info, .contact-content-text-list-link{
                                .text(14px,normal,left,#000,'Helvetica',normal,none); 
                                line-height: 1.5;
                                display: block;
                            }
                        }
                    }
                }
            }
            .contact-content-form{
                width: 48.5%;  
                @media (max-width: 600px){
                    width: 95%;
                }
                .contact-form-content{

                    .contact-form-item{
                        margin-bottom: 22px;
                        text-align: start;
                        display: flex;
                        justify-content: space-between;
                        @media (max-width: 960px){
                            flex-direction: column;
                            margin-bottom: 0px;
                        }
                      .contact-form-item-info{
                            width: 47%;
                            @media (max-width: 960px){
                                width: 100%;
                                margin-top: 5px;
                            }
                        }
                        .contact-form-item-info-text{
                            .text(14px,normal,left,#000,'OpenSans',normal,none); 
                           margin-bottom: 9px;
                        }
                        .textarea{
                            width: 100%;
                        }
                    }
                    .content-button{ 
                        margin: 20px auto 70px auto;
                        .contact-form-btn{
                            background-color: #3c3c3c;
                            border: none;
                            padding: 0;
                            margin: 0;
                            height: 44px;
                            .text(14px,normal,center,#f8f02e,'Helvetica',normal,none); 
                        }                                             
                    }
                }
            }
        }
    }
    .contact-page{
        margin-top: 70px;
        margin-bottom: 86px;
    }
    #message{
        position: relative;
    }
    .price{
        background:  url(../img/bg-image-prices.jpg) no-repeat center top 100%;
        background-size: cover;
        height: 240px;
        margin-bottom: 281px;
        @media (max-width:960px){
           height: auto;
           padding: 50px 0;
        }
        @media (max-width:600px){
            margin-bottom: 70px;
        }
        .price-wrap{
            display: flex;
            align-items: center;
            height: 100%;
            margin-top: 87px;
            @media (max-width:960px){
                margin-top: 0;
            }
            @media (max-width:600px){
                flex-direction: column;
            }
            .price-header{
                transform: rotate(-90deg);
                margin-right: 15px;
                .text(24px,normal,center,#fff,'Helvetica',normal,none);
                letter-spacing: 5px;
                position: relative;
                left: -25px;
                @media (max-width:600px){
                    transform: rotate(0deg);
                    left: 0;
                    margin-bottom: 30px;
                }
            }
            .price-list{
                display: flex;
                justify-content: space-between;
                width: 80%;
                @media (max-width:960px){
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                 }

                .price-list-item{
                    border-radius: 20px;
                    background-color: #ffffff;
                    width: 31%;
                    @media (max-width:960px){
                        width: 60%;
                        margin-bottom: 30px;
                     }
                     @media (max-width:600px){
                        width: 90%;
                    }
                    .price-list-item-header{
                        .text(16px,normal,center,#000,'HelveticaBold',normal,uppercase);
                        margin: 20px auto 7px auto;
                    }
                    .price-list-item-cost{
                        .text(21px,normal,center,#9b9b9b,'Helvetica',normal,none);
                    }
                    .price-list-item-text{
                        .text(14px,normal,center,#000,'Helvetica',normal,none);
                        line-height: 1.5; 
                        width: 75%; 
                        margin: 7px auto 19px auto; 
                    }
                }
            }
        }
    }
    footer{
        .wrapper{
            margin-top: 25px;
            display: flex;
            justify-content: space-around;
            width: 70%;
            flex-wrap: wrap;
            .footer-content{
                width: 40%;
                height: 147px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media (max-width: 768px){
                   width: 100%;
                   margin-bottom: 50px;
                   align-items: center;
                }
                &:nth-child(2){
                    width: 39%;
                    @media (max-width: 768px){
                        width: 100%;
                     }
                }
                &:nth-child(3){
                    width: 21%;
                    @media (max-width: 768px){
                        width: 100%;
                        margin-bottom: 0;
                     }
                }
                .nav-logo{
                    margin-bottom: 14px;
                }
                .footer-content-text{
                    .text(14px,normal,left,#9b9b9b,'Helvetica',normal,none);
                    line-height: 1.5;
                    width: 70%;
                    @media (max-width: 768px){
                        text-align: center;
                    }
                }
                .footer-list{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    @media (max-width: 480px){
                        margin-top: 30px;
                    }
                    .footer-list-item{
                        text-align: left;
                        .footer-list-item-link{
                            .text(14px,normal,left,#000,'OpenSans',normal,none);
                        }
                    }
                }
                .footer-content-contact{
                    .footer-content-contact-header{
                        display: block;
                        font-weight: bold;
                        margin-bottom: 5px;
                        text-align: left;
                        @media (max-width: 768px){
                            text-align: center;
                        }
                    }
                    .footer-content-contact-text{
                        display: block;
                        .text(14px,normal,left,#000,'Helvetica',normal,none);
                        line-height: 1.5;
                        @media (max-width: 768px){
                            text-align: center;
                        }
                    }
                }
            }
        }
        .footer-payment{
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 960px){
               margin-top: 50px;
             }
             @media (max-width: 768px){
                margin-top: 0;
              }
            .footer-payment-item{
                margin: 45px 10px;
                @media (max-width: 480px){
                    margin: 45px 4px;
                }
            }
        }
    }

} 
