html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.header-nav-menu {
  display: none;
}
@media (max-width: 768px) {
  .header-nav-menu {
    display: block;
  }
}
#burger {
  padding: 0;
  border: none;
  cursor: pointer;
  margin-right: 40px;
  z-index: 999;
  display: none;
  position: relative;
}
@media (max-width: 768px) {
  #burger {
    display: block;
  }
}
span.burger-menu {
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 30px;
  height: 4px;
  position: relative;
  display: block;
}
span.burger-menu::before {
  content: "";
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 30px;
  height: 4px;
  position: absolute;
  display: block;
  top: -10px;
  left: 0px;
}
span.burger-menu::after {
  content: "";
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 30px;
  height: 4px;
  position: absolute;
  bottom: -10px;
  right: 0px;
  display: block;
}
* {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'Helvetica', sans-serif;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open Sans.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaRegular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaBold';
  src: url('../fonts/HelveticaBold.ttf');
  font-style: bold;
}
h1 {
  font-size: 28px;
  font-style: normal;
  text-align: left;
  color: #000;
  font-family: 'HelveticaBold', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  color: #000;
  font-family: 'HelveticaBold', sans-serif;
  font-weight: normal;
  text-transform: none;
}
p {
  font-size: 14px;
  font-style: normal;
  text-align: left;
  color: #9b9b9b;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
}
img {
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}
#sign_up-input {
  border: solid 1px #c2c2c2;
  padding: 11px 5px 12px 20px;
  resize: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  color: #9b9b9b;
  font-family: "OpenSans";
  max-width: 543px;
  line-height: 1.2;
}
input,
textarea {
  border: solid 1px #c2c2c2;
  padding: 11px 5px 12px 17px;
  resize: none;
  cursor: pointer;
  width: -webkit-calc(100% - 28px);
  width: calc(100% - 28px);
  font-size: 14px;
  color: #9b9b9b;
  font-family: "OpenSans";
}
textarea {
  height: 104px;
}
.content-button {
  width: 170px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
a {
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: #000;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  text-transform: none;
}
.wrapper {
  width: 81%;
  margin: 0 auto;
}
.line {
  height: 1px;
  background: #979797;
  border: none;
  margin-bottom: 25px;
}
.nav-logo {
  width: 82px;
  height: 58px;
}
.nav-logo .nav-logo-link {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  color: #000;
  font-family: 'HelveticaBold', sans-serif;
  font-weight: bold;
  text-transform: none;
}
.message {
  height: 107px;
  width: 351px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #3c3c3c;
  border: solid 1px #a8dba8;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 2%;
  bottom: 40px;
  z-index: 10;
}
@media (max-width: 960px) {
  .message {
    bottom: 120px;
    right: 5%;
  }
}
@media (max-width: 600px) {
  .message {
    width: 270px;
  }
}
.message .message-text-header,
.message .message-text-info {
  color: #f8f02e;
  text-align: center;
}
.message .message-img {
  width: 20%;
  height: 50%;
  position: relative;
  text-align: left;
}
.message .message-img:after {
  content: '';
  display: block;
  width: 3px;
  height: 83px;
  background: #fdfdfd;
  position: absolute;
  top: -27%;
  right: 15%;
}
.message .message-text {
  width: 66%;
  position: relative;
}
.message .message-text .message-text-header {
  margin-bottom: 8px;
}
.message .message-text .message-close {
  width: 33px;
  height: 33px;
  background-color: #3c3c3c;
  border: solid 2px #fdfdfd;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 20%;
  right: -20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.header-nav-menu {
  display: none;
}
@media (max-width: 768px) {
  .header-nav-menu {
    display: block;
  }
}
#burger {
  padding: 0;
  border: none;
  cursor: pointer;
  margin-right: 40px;
  z-index: 999;
  display: none;
  position: relative;
}
@media (max-width: 768px) {
  #burger {
    display: block;
  }
}
span.burger-menu {
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 30px;
  height: 4px;
  position: relative;
  display: block;
}
span.burger-menu::before {
  content: "";
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 30px;
  height: 4px;
  position: absolute;
  display: block;
  top: -10px;
  left: 0px;
}
span.burger-menu::after {
  content: "";
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 30px;
  height: 4px;
  position: absolute;
  bottom: -10px;
  right: 0px;
  display: block;
}
* {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'Helvetica', sans-serif;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open Sans.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaRegular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaBold';
  src: url('../fonts/HelveticaBold.ttf');
  font-style: bold;
}
h1 {
  font-size: 28px;
  font-style: normal;
  text-align: left;
  color: #000;
  font-family: 'HelveticaBold', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  color: #000;
  font-family: 'HelveticaBold', sans-serif;
  font-weight: normal;
  text-transform: none;
}
p {
  font-size: 14px;
  font-style: normal;
  text-align: left;
  color: #9b9b9b;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
}
img {
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}
#sign_up-input {
  border: solid 1px #c2c2c2;
  padding: 11px 5px 12px 20px;
  resize: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  color: #9b9b9b;
  font-family: "OpenSans";
  max-width: 543px;
  line-height: 1.2;
}
input,
textarea {
  border: solid 1px #c2c2c2;
  padding: 11px 5px 12px 17px;
  resize: none;
  cursor: pointer;
  width: -webkit-calc(100% - 28px);
  width: calc(100% - 28px);
  font-size: 14px;
  color: #9b9b9b;
  font-family: "OpenSans";
}
textarea {
  height: 104px;
}
.content-button {
  width: 170px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
a {
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: #000;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  text-transform: none;
}
.wrapper {
  width: 81%;
  margin: 0 auto;
}
.line {
  height: 1px;
  background: #979797;
  border: none;
  margin-bottom: 25px;
}
.nav-logo {
  width: 82px;
  height: 58px;
}
.nav-logo .nav-logo-link {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  color: #000;
  font-family: 'HelveticaBold', sans-serif;
  font-weight: bold;
  text-transform: none;
}
.message {
  height: 107px;
  width: 351px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #3c3c3c;
  border: solid 1px #a8dba8;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 2%;
  bottom: 40px;
  z-index: 10;
}
@media (max-width: 960px) {
  .message {
    bottom: 120px;
    right: 5%;
  }
}
@media (max-width: 600px) {
  .message {
    width: 270px;
  }
}
.message .message-text-header,
.message .message-text-info {
  color: #f8f02e;
  text-align: center;
}
.message .message-img {
  width: 20%;
  height: 50%;
  position: relative;
  text-align: left;
}
.message .message-img:after {
  content: '';
  display: block;
  width: 3px;
  height: 83px;
  background: #fdfdfd;
  position: absolute;
  top: -27%;
  right: 15%;
}
.message .message-text {
  width: 66%;
  position: relative;
}
.message .message-text .message-text-header {
  margin-bottom: 8px;
}
.message .message-text .message-close {
  width: 33px;
  height: 33px;
  background-color: #3c3c3c;
  border: solid 2px #fdfdfd;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 20%;
  right: -20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .header-nav {
  height: 114px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .header-nav .nav-logo {
  width: 82px;
  height: 58px;
}
body header .header-nav .nav-logo .nav-logo-link {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  color: #000;
  font-family: 'HelveticaBold', sans-serif;
  font-weight: bold;
  text-transform: none;
}
body header .header-nav .header-nav-list {
  width: 57%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  body header .header-nav .header-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0;
    opacity: 0;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
}
body header .header-nav .header-nav-list .header-nav-list-item .header-nav-list-item-link {
  position: relative;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  color: #9b9b9b;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
}
body header .header-nav .header-nav-list .header-nav-list-item .header-nav-list-item-link:hover {
  color: #000;
}
body header .header-nav .header-nav-list .header-nav-list-item .header-nav-list-item-link:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 35%;
  left: -12px;
  width: 5px;
  height: 5px;
  background: #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
body header .header-nav .active_burger {
  height: 60vh;
  opacity: 1;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  width: 100vw;
  max-width: 1440px;
  background: #eef2f5;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  z-index: 998;
}
@media (max-width: 480px) {
  body header .header-nav .active_burger {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 40px;
  }
}
body .banner {
  background: url(../img/banner-image.jpg) no-repeat center top 100%;
  -webkit-background-size: cover;
          background-size: cover;
  height: 480px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
body .banner .banner-content {
  width: 48%;
  position: relative;
  z-index: 3;
}
@media (max-width: 960px) {
  body .banner .banner-content {
    width: 70%;
  }
}
@media (max-width: 480px) {
  body .banner .banner-content {
    width: 100%;
  }
}
@media (max-width: 480px) {
  body .banner .banner-content .banner-header {
    text-align: center;
  }
}
body .banner .banner-content .banner-content-text {
  font-size: 18px;
  font-style: normal;
  text-align: left;
  color: #222;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.22;
  margin: 26px 0 20px 0;
  width: 80%;
}
@media (max-width: 480px) {
  body .banner .banner-content .banner-content-text {
    text-align: center;
    margin: 22px auto 31px auto;
  }
}
body .banner .banner-content .content-button {
  background-color: rgba(31, 31, 31, 0.3);
  border: solid 2px #ffffff;
}
@media (max-width: 480px) {
  body .banner .banner-content .content-button {
    margin: 0 auto;
  }
}
body .banner .banner-content .content-button .header-btn {
  position: relative;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
}
body .line-img {
  width: 508px;
  margin: 70px auto 50px auto;
}
body .line-img img {
  width: 100%;
}
@media (max-width: 768px) {
  body .line-img {
    width: 400px;
  }
}
@media (max-width: 480px) {
  body .line-img {
    width: 300px;
  }
}
body .about {
  margin: 15px auto 46px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 960px) {
  body .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body .about img {
  width: 100%;
}
body .about .news {
  width: 65%;
}
@media (max-width: 960px) {
  body .about .news {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
  }
}
body .about .news .news-header {
  text-align: left;
  margin-bottom: 47px;
}
body .about .news .news-list {
  height: 390px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  body .about .news .news-list {
    height: auto;
  }
}
body .about .news .news-list .news-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 600px) {
  body .about .news .news-list .news-list-item {
    margin-bottom: 30px;
  }
}
body .about .news .news-list .news-list-item .news-list-img {
  width: 22%;
}
body .about .news .news-list .news-list-item .news-list-img img {
  width: 100%;
  max-width: 109px;
}
body .about .news .news-list .news-list-item .news-list-text {
  width: 76%;
}
body .about .trending {
  width: 370px;
  position: relative;
  top: -12px;
  height: 309px;
}
@media (max-width: 960px) {
  body .about .trending {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  body .about .trending {
    width: 259px;
    height: auto;
  }
}
body .about .trending .trending-content {
  position: absolute;
  top: 45px;
}
@media (max-width: 480px) {
  body .about .trending .trending-content {
    top: 20px;
  }
}
body .about .trending .trending-content .trending-header {
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  body .about .trending .trending-content .trending-header {
    margin-bottom: 5px;
    font-size: 18px;
  }
}
body .about .trending .trending-content .trending-text {
  text-align: center;
  width: 38%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  body .about .trending .trending-content .trending-text {
    width: 45%;
    font-size: 12px;
  }
}
body .info {
  border: solid 1px #979797;
  margin: 66px auto 50px auto;
}
body .info .info-img {
  width: auto;
  position: relative;
  top: -16px;
}
body .info .info-text {
  color: #000000;
  text-align: center;
  width: 52%;
  margin: 0 auto 36px auto;
}
@media (max-width: 480px) {
  body .info .info-text {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  body .best_sellers img {
    height: 100%;
  }
}
@media (max-width: 960px) {
  body .best_sellers img {
    height: auto;
  }
}
body .best_sellers .best_sellers-list {
  margin: 26px auto 70px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
body .best_sellers .best_sellers-list .best_sellers-item-1 {
  width: 42%;
  max-width: 470px;
  background-color: #d8d8d8;
}
body .best_sellers .best_sellers-list .best_sellers-item-2 {
  width: 33%;
  max-width: 400px;
}
body .best_sellers .best_sellers-list .best_sellers-item-2 .best_sellers-item-2-1 {
  background-color: #8ed5e0;
  height: 50%;
}
body .best_sellers .best_sellers-list .best_sellers-item-2 .best_sellers-item-2-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}
body .best_sellers .best_sellers-list .best_sellers-item-2 .best_sellers-item-2-2 .best_sellers-item-content {
  width: 50%;
  background-color: #f9f4e2;
}
body .best_sellers .best_sellers-list .best_sellers-item-2 .best_sellers-item-2-2 .best_sellers-item-content:last-child {
  background-color: #fdeaf0;
}
body .best_sellers .best_sellers-list .best_sellers-item-3 {
  width: 25%;
  max-width: 300px;
}
body .best_sellers .best_sellers-list .best_sellers-item-3 .best_sellers-item-content {
  height: 50%;
  background-color: #e9d0d0;
}
body .best_sellers .best_sellers-list .best_sellers-item-3 .best_sellers-item-content:last-child {
  background-color: #fbf8f1;
}
@media (max-width: 960px) {
  body .best_sellers .best_sellers-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .best_sellers .best_sellers-list .best_sellers-item-1,
  body .best_sellers .best_sellers-list .best_sellers-item-2,
  body .best_sellers .best_sellers-list .best_sellers-item-3 {
    max-width: 570px;
    height: 470px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  body .best_sellers .best_sellers-list .best_sellers-item-1 {
    height: 400px;
  }
}
body .contact .contact-header {
  margin-bottom: 30px;
  margin-left: 18%;
}
@media (max-width: 600px) {
  body .contact .contact-header {
    margin-left: 0;
  }
}
body .contact .contact-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 600px) {
  body .contact .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
body .contact .contact-content .contact-content-map {
  width: 35%;
  position: relative;
}
body .contact .contact-content .contact-content-map .contact-content-map-info .contact-content-text-list {
  width: 155px;
  height: 190px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 14px;
  position: absolute;
  top: 15px;
  left: 23%;
}
@media (max-width: 960px) {
  body .contact .contact-content .contact-content-map .contact-content-map-info .contact-content-text-list {
    left: 10%;
  }
}
@media (max-width: 600px) {
  body .contact .contact-content .contact-content-map .contact-content-map-info .contact-content-text-list {
    position: static;
    margin: 0 auto;
    padding-left: 0;
  }
}
body .contact .contact-content .contact-content-map .contact-content-map-info .contact-content-text-list .contact-content-text-list-item {
  margin-bottom: 11px;
}
body .contact .contact-content .contact-content-map .contact-content-map-info .contact-content-text-list .contact-content-text-list-item .contact-content-text-list-header {
  font-size: 14px;
  font-style: normal;
  text-align: left;
  color: #000;
  font-family: 'HelveticaBold', sans-serif;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 6px;
}
body .contact .contact-content .contact-content-map .contact-content-map-info .contact-content-text-list .contact-content-text-list-item .contact-content-text-list-info,
body .contact .contact-content .contact-content-map .contact-content-map-info .contact-content-text-list .contact-content-text-list-item .contact-content-text-list-link {
  font-size: 14px;
  font-style: normal;
  text-align: left;
  color: #000;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  display: block;
}
body .contact .contact-content .contact-content-form {
  width: 48.5%;
}
@media (max-width: 600px) {
  body .contact .contact-content .contact-content-form {
    width: 95%;
  }
}
body .contact .contact-content .contact-content-form .contact-form-content .contact-form-item {
  margin-bottom: 22px;
  text-align: start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 960px) {
  body .contact .contact-content .contact-content-form .contact-form-content .contact-form-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
}
body .contact .contact-content .contact-content-form .contact-form-content .contact-form-item .contact-form-item-info {
  width: 47%;
}
@media (max-width: 960px) {
  body .contact .contact-content .contact-content-form .contact-form-content .contact-form-item .contact-form-item-info {
    width: 100%;
    margin-top: 5px;
  }
}
body .contact .contact-content .contact-content-form .contact-form-content .contact-form-item .contact-form-item-info-text {
  font-size: 14px;
  font-style: normal;
  text-align: left;
  color: #000;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 9px;
}
body .contact .contact-content .contact-content-form .contact-form-content .contact-form-item .textarea {
  width: 100%;
}
body .contact .contact-content .contact-content-form .contact-form-content .content-button {
  margin: 20px auto 70px auto;
}
body .contact .contact-content .contact-content-form .contact-form-content .content-button .contact-form-btn {
  background-color: #3c3c3c;
  border: none;
  padding: 0;
  margin: 0;
  height: 44px;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: #f8f02e;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
}
body .contact-page {
  margin-top: 70px;
  margin-bottom: 86px;
}
body #message {
  position: relative;
}
body .price {
  background: url(../img/bg-image-prices.jpg) no-repeat center top 100%;
  -webkit-background-size: cover;
          background-size: cover;
  height: 240px;
  margin-bottom: 281px;
}
@media (max-width: 960px) {
  body .price {
    height: auto;
    padding: 50px 0;
  }
}
@media (max-width: 600px) {
  body .price {
    margin-bottom: 70px;
  }
}
body .price .price-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-top: 87px;
}
@media (max-width: 960px) {
  body .price .price-wrap {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  body .price .price-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body .price .price-wrap .price-header {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 15px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 5px;
  position: relative;
  left: -25px;
}
@media (max-width: 600px) {
  body .price .price-wrap .price-header {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 0;
    margin-bottom: 30px;
  }
}
body .price .price-wrap .price-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}
@media (max-width: 960px) {
  body .price .price-wrap .price-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
body .price .price-wrap .price-list .price-list-item {
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #ffffff;
  width: 31%;
}
@media (max-width: 960px) {
  body .price .price-wrap .price-list .price-list-item {
    width: 60%;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  body .price .price-wrap .price-list .price-list-item {
    width: 90%;
  }
}
body .price .price-wrap .price-list .price-list-item .price-list-item-header {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  color: #000;
  font-family: 'HelveticaBold', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 20px auto 7px auto;
}
body .price .price-wrap .price-list .price-list-item .price-list-item-cost {
  font-size: 21px;
  font-style: normal;
  text-align: center;
  color: #9b9b9b;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
}
body .price .price-wrap .price-list .price-list-item .price-list-item-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: #000;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  width: 75%;
  margin: 7px auto 19px auto;
}
body footer .wrapper {
  margin-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 70%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
body footer .wrapper .footer-content {
  width: 40%;
  height: 147px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  body footer .wrapper .footer-content {
    width: 100%;
    margin-bottom: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
body footer .wrapper .footer-content:nth-child(2) {
  width: 39%;
}
@media (max-width: 768px) {
  body footer .wrapper .footer-content:nth-child(2) {
    width: 100%;
  }
}
body footer .wrapper .footer-content:nth-child(3) {
  width: 21%;
}
@media (max-width: 768px) {
  body footer .wrapper .footer-content:nth-child(3) {
    width: 100%;
    margin-bottom: 0;
  }
}
body footer .wrapper .footer-content .nav-logo {
  margin-bottom: 14px;
}
body footer .wrapper .footer-content .footer-content-text {
  font-size: 14px;
  font-style: normal;
  text-align: left;
  color: #9b9b9b;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  width: 70%;
}
@media (max-width: 768px) {
  body footer .wrapper .footer-content .footer-content-text {
    text-align: center;
  }
}
body footer .wrapper .footer-content .footer-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media (max-width: 480px) {
  body footer .wrapper .footer-content .footer-list {
    margin-top: 30px;
  }
}
body footer .wrapper .footer-content .footer-list .footer-list-item {
  text-align: left;
}
body footer .wrapper .footer-content .footer-list .footer-list-item .footer-list-item-link {
  font-size: 14px;
  font-style: normal;
  text-align: left;
  color: #000;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  text-transform: none;
}
body footer .wrapper .footer-content .footer-content-contact .footer-content-contact-header {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}
@media (max-width: 768px) {
  body footer .wrapper .footer-content .footer-content-contact .footer-content-contact-header {
    text-align: center;
  }
}
body footer .wrapper .footer-content .footer-content-contact .footer-content-contact-text {
  display: block;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  color: #000;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
}
@media (max-width: 768px) {
  body footer .wrapper .footer-content .footer-content-contact .footer-content-contact-text {
    text-align: center;
  }
}
body footer .footer-payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 960px) {
  body footer .footer-payment {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  body footer .footer-payment {
    margin-top: 0;
  }
}
body footer .footer-payment .footer-payment-item {
  margin: 45px 10px;
}
@media (max-width: 480px) {
  body footer .footer-payment .footer-payment-item {
    margin: 45px 4px;
  }
}
